@tailwind base;
@tailwind components;
@tailwind utilities;


.dining-halls-container {
    display: flex;
    width: 100%;
}

.dining-hall {
    width: 50%;
    px : 2
}

.time-button { width: 30%;}

@layer components {
    .time-button {
        @apply 
        inline-block 
        rounded border 
        border-indigo-600 
        bg-indigo-600  
        py-3
        mx-2
        text-sm 
        font-medium 
        text-white 
        hover:bg-transparent 
        hover:text-indigo-600 
        focus:outline-none 
        focus:ring 
        active:text-indigo-500;
    }
}


@layer components {
    .filter-button {
        @apply 
        w-1/5
        inline-block 
        rounded border 
        border-indigo-600 
        bg-indigo-600 
        py-1
        mx-1
        text-sm 
        font-medium 
        text-white 
        hover:bg-transparent 
        hover:text-indigo-600 
        focus:outline-none 
        focus:ring 
        active:text-indigo-500;
    }

    .filter-button-active {
        @apply 
        w-1/5
        inline-block 
        rounded border 
        border-indigo-600 
        bg-transparent
        py-1
        mx-1
        text-sm 
        font-medium 
        text-indigo-600 
        focus:outline-none 
        focus:ring 
        active:text-indigo-500;
    }
}

